@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Happy+Monkey&family=Inter:wght@100..900&family=Lobster&family=Lugrasimo&family=Marcellus+SC&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

/* font-family: 'Comfortaa', sans-serif;
font-family: "Marcellus SC", serif;
font-family: "Baloo Thambi 2", system-ui;
font-family: "Happy Monkey", system-ui;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', sans-serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */
:root {
  --pri-one: #41FBF0;
  --pri-two: #08A6FF;
  --swiper-pagination-bottom: 5px;
}

/* pri: "#41FBF0",
sec: "#08A6FF", */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  ol li {
    @apply p-6 lg:px-4 lg:py-2 text-sm font-normal hover:underline hover:underline-offset-8 hover:text-sec cursor-pointer duration-300 decoration-sec
  }

  footer li {
    @apply text-sm hover:underline hover:underline-offset-8 hover:text-cyan-400 cursor-pointer duration-300 decoration-cyan-400
  }

  .btn1 {
    @apply py-2 px-4 font-medium bg-gradient-to-r from-sec to-pri duration-200 hover:rounded-full ease-in
  }

  .btn-2 {
    @apply px-4 py-2 md:px-8 md:text-xl text-sm md:py-3 text-white font-semibold bg-gradient-to-r from-sec to-pri hover:text-sec hover:from-white hover:to-white hover:scale-90 duration-200 ease-in
  }

  .btn3 {
    @apply py-2 px-8 bg-gradient-to-r from-sec to-pri rounded-sm hover:scale-90 duration-200 ease-in hover:rounded-full
  }
}

@layer components {
  .font-lobster {
    font-family: 'Lobster', sans-serif;
  }

  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }

  .font-marcellus {
    font-family: "Marcellus SC", serif;
  }

  .font-baloo {
    font-family: "Baloo Thambi 2", system-ui;
  }

  .font-happy-monky {
    font-family: "Happy Monkey", system-ui;
  }

  .font-comfortaa {
    font-family: 'Comfortaa', sans-serif;
  }

  .font-dancing-script {
    font-family: 'Dancing Script', cursive;
  }

  .font-Lugrasimo {
    font-family: 'Lugrasimo', cursive;
  }

  .font-pacifico {
    font-family: 'Pacifico', cursive;
  }

  /*  */
  .home .content {
    display: none;
  }

  .home .content.active {
    display: block;
  }

  .home .video-slide {
    clip-path: circle(0% at 0 50%);
  }

  .home .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .home .slider-navigation .nav-btn {
    box-shadow: 0 0 10px #08a4ffb4;
    transition: ease .3s;
    width: 1.1rem;
    height: 1.1rem;
  }

  .home .slider-navigation .nav-btn.active {
    background: #08A6FF;

  }

  .home .slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
  }

  .about .rounded-lg {
    border-radius: 0rem;
  }

}

.slick-slide div {
  margin: 0px 10px !important;
}

.slick-arrow::before {
  color: #08A6FF;
  font-size: 40px;
}

.slick-prev {
  position: absolute;
  top: 5%;
  left: 92%;
}

.slick-next {
  position: absolute;
  right: 2%;
  top: 5%;
}

@media (max-width: 780px) {
  .slick-prev {
    position: absolute;

    left: 80%;
  }

  .slick-next {
    position: absolute;
    right: 5%;

  }

  .slick-slide div{
    margin: 0px 5px auto;

  }
}